@import url(reset.css);
@font-face {
    font-family: NotoSansKR-Regular;
    src: url(../font/NotoSansKR-Regular.otf);
}

@font-face {
    font-family: NotoSansKR-Medium;
    src: url(../font/NotoSansKR-Medium.otf);
}

@font-face {
    font-family: NotoSansKR-Bold;
    src: url(../font/NotoSansKR-Bold.otf);
}


/* chat1.css */
/* unionpay_chat1 */
*{-webkit-text-size-adjust: none;}

/* common */
body{
    background: #f6f6f6;
    font-family: NotoSansKR-Regular, Arial, sans-serif;
    font-size: 1.4rem; /* 14px 기준 */
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

body::-webkit-scrollbar{
    display: none;
}

a{
    text-decoration: none;
}

/* 모바일 */
@media screen and (max-width: 520px){

html{
    font-size: 2.667vw; /* 모바일(375) 10px 기준 */
}

/* layout */
div#wrap{
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 520px;
}

main{
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    text-indent: -9999px;
}

div.chat_cover{
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: 81.2rem;
}

/* main */
h1{
    display: none;
}

div.chat1{
    position: relative;
    width: 100%;
    height: 81.2rem;
    max-width: 520px;
}

.chat1>p{
    position: absolute;
    left: 50%;
    bottom: 59.3rem;
    transform: translateX(-50%);
    width: 24rem;
    height: 8.6rem;
    background: url(../img/img_chat1_title.png) no-repeat 0 0;
    background-size: cover;
    max-width: 520px;
}

.chat1>input{
    position: absolute;
    left: 50%;
    bottom: 48.7rem;
    transform: translateX(-50%);
    width: 33.5rem;
    height: 4.8rem;
    border: 1px solid #000;
    box-sizing: border-box;
}

.chat1>input::placeholder{
    font-size: 1.6rem;
    font-family: NotoSansKR-Regular;
    text-align: center;
    -ms-text-align: center;
}

a.chat_next{
    /* z-index: -1; */
    display: block;
    position: absolute;
    left: 0;
    bottom: 1.1rem;
    width: 100%;
    height: 8.5rem;
    text-indent: -9999px;
    background: #004888;
    border: 2px solid #000;
    box-sizing: border-box;
}

a.chat_next:hover{
    background: #013461;
}


a.chat_next>strong{
    display: inline-block;
    position: absolute;
    left: 50%;
    bottom: 1.7rem;
    transform: translateX(-50%);
    width: 23.4rem;
    height: 5rem;
    background: url(../img/img_btn_txt_enter.png) no-repeat 0 0;
    background-size: contain;
}
}


/* 데스크탑 */
@media screen and (min-width: 521px){

html{
    font-size: 0.521vw; /* 데스크탑(1920) 10px 기준 */
}


/* layout */
div#wrap{
    position: relative;
    width: 100%;
    height: 100%;
}

main{
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    text-indent: -9999px;
}

div.chat_cover{
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding-top: 120px;
}

/* main */
div.chat1{
    position: absolute;
    left: 50%;
    top: 120px;
    transform: translateX(-50%);
    width: 375px;
    height: 812px;
    border-radius: 30px;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
    border: solid 10px #fff;
    overflow: hidden;
}

.chat1>p{
    position: absolute;
    left: 50%;
    bottom: 593px;
    transform: translateX(-50%);
    width: 240px;
    height: 86px;
    background: url(../img/img_chat1_title.png) no-repeat 0 0;
    background-size: cover;
    max-width: 520px;
}

.chat1>input{
    position: absolute;
    left: 50%;
    bottom: 487px;
    transform: translateX(-50%);
    width: 335px;
    height: 48px;
    border: 1px solid #000;
    box-sizing: border-box;
}

.chat1>input::placeholder{
    font-size: 16px;
    font-family: NotoSansKR-Regular;
    text-align: center;
}

a.chat_next{
    display: block;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 100%;
    height: 100px;
    text-indent: -9999px;
    background: #004888;
    border: 2px solid #000;
    box-sizing: border-box;
    max-width: 375px;
}

a.chat_next:hover{
    background: #013461;
}


a.chat_next>strong{
    display: inline-block;
    position: absolute;
    left: 50%;
    bottom: 17px;
    transform: translateX(-45%);
    width: 290px;
    height: 62px;
    background: url(../img/img_btn_txt_enter.png) no-repeat 0 0;
    background-size: contain;
}
}