@import url(reset.css);
@font-face {
    font-family: NotoSansKR-Regular;
    src: url(../font/NotoSansKR-Regular.otf);
}

@font-face {
    font-family: NotoSansKR-Medium;
    src: url(../font/NotoSansKR-Medium.otf);
}

@font-face {
    font-family: NotoSansKR-Bold;
    src: url(../font/NotoSansKR-Bold.otf);
}


/* main.css */
/* unionpay_main */
*{-webkit-text-size-adjust: none;}

/* common */
body{
    background: #f6f6f6;
    font-family: NotoSansKR-Regular, Arial, sans-serif;
    font-size: 1.4rem; /* 14px 기준 */
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

body::-webkit-scrollbar{
    display: none;
}

a{
    text-decoration: none;
}

/* 모바일 */
@media screen and (max-width: 520px){

html{
    font-size: 2.667vw; /* 모바일(375) 10px 기준 */
}

/* layout */
div#wrap{
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 520px;
}

main{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    text-indent: -9999px;
    /* overflow: hidden; */
}

div.intro_cover{
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: 81.2rem;
}

/* main */
div.intro1{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 81.2rem;
}

div.intro1>p{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 81.2rem;
    background: url(../img/img_main_01_1.png) no-repeat 0 0;
    background-size: contain;
    max-width: 520px;
}

a.btn_start{
    /* z-index: -1; */
    display: block;
    position: absolute;
    left: 0;
    /* top: 62.3rem; */
    bottom: 1.1rem;
    width: 100%;
    height: 8.5rem;
    text-indent: -9999px;
    background: #004888;
    border: 2px solid #000;
    box-sizing: border-box;
}

a.btn_start:hover{
    background: #013461;
}

a.btn_start>span{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 5rem;
    width: 20rem;
    height: 21.4rem;
    background: url(../img/img_main_02.png) no-repeat 0 0;
    background-size: contain;
    cursor: pointer;
    max-width: 520px;
}

a.btn_start>strong{
    position: absolute;
    left: 0;
    top: 2rem;
    width: 36rem;
    height: 5rem;
    background: url(../img/img_start_txt.png) no-repeat 0 0;
    background-size: contain;
    max-width: 520px;
}
}


/* 데스크탑 */
@media screen and (min-width: 521px){

html{
    font-size: 0.521vw; /* 데스크탑(1920) 10px 기준 */
}

/* layout */
div#wrap{
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

main{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    text-indent: -9999px;
    /* overflow: hidden; */
}

div.intro_cover{
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

/* main */
div.intro1{
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 100%;
    height: 850px;
}

div.intro1>p{
    position: absolute;
    left: 50%;
    bottom: 95px;
    transform: translateX(-50%);
    width: 459px;
    height: 909px;
    background: url(../img/img_main_01.png) no-repeat 0 0;
    background-size: contain;
}

a.btn_start{
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 118px;
    text-indent: -9999px;
    background: #004888;
    border: 2px solid #000;
    box-sizing: border-box;
}

a.btn_start:hover{
    background: #013461;
}

a.btn_start>span{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 85px;
    width: 270px;
    height: 280px;
    background: url(../img/img_main_02.png) no-repeat 0 0;
    background-size: contain;
    cursor: pointer;
}

a.btn_start>strong{
    position: absolute;
    left: 50%;
    top: 30px;
    transform: translateX(-50%);
    width: 470px;
    height: 55px;
    background: url(../img/img_start_txt.png) no-repeat 0 0;
    background-size: cover;
    max-width: 520px;
}
}