@import url(reset.css);
@font-face {
    font-family: NotoSansKR-Regular;
    src: url(../font/NotoSansKR-Regular.otf);
}

@font-face {
    font-family: NotoSansKR-Medium;
    src: url(../font/NotoSansKR-Medium.otf);
}

@font-face {
    font-family: NotoSansKR-Bold;
    src: url(../font/NotoSansKR-Bold.otf);
}

/* result4.css */
/* unionpay_result4 */
*{-webkit-text-size-adjust: none;}

/* common */
body{
    background: #f6f6f6;
    font-family: NotoSansKR-Regular, Arial, sans-serif;
    font-size: 1.4rem; /* 14px 기준 */
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

body::-webkit-scrollbar{
    display: none;
}

a{
    text-decoration: none;
}

/* footer_fixed, result page 전부 해당 */
#footer{
    position: fixed;
}

/* 모바일 */
@media screen and (max-width: 520px){

html{
    font-size: 2.667vw; /* 모바일(375) 10px 기준 */
}

/* layout */
div#wrap{
    /* height: 100%; */
}

main{
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
}

/* main */
h1{
    display: none;
}

div.result1{
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 520px;
}

/* 결과 이미지 */
p.user_type{
    margin: 6rem 0 1rem;
    font-family: NotoSansKR-Medium;
    font-size: 1.6rem;
    text-align: center;
}

.result1>p:nth-of-type(2){
    width: 100%;
    height: 57.8rem;
    background: url(../img/img_result_04.png) no-repeat 0 0;
    background-size: contain;
    text-indent: -9999px;
    overflow: hidden;
}

/* 서비스 추천 섹션 */
section.card_area{
    margin-top: 6rem;
}

.card_area>p:first-of-type{
    width: 100%;
    height: 6rem;
    margin-bottom: 2rem;
    background: url(../img/img_txt_service_04.png) no-repeat 0 0;
    background-size: contain;
    text-indent: -9999px;
    overflow: hidden;
}

.card_area>ul{
    padding: 0 2rem;
    box-sizing: border-box;
}

.card_area>ul>li:last-of-type{
    margin: 4rem 0 6rem;
}

/* 카드 이름 */
p.card_name{
    padding-bottom: 2rem;
    font-family: NotoSansKR-Bold;
    font-size: 2rem;
    border-bottom: 0.1rem solid #000;
    box-sizing: border-box;
    cursor: pointer;
}

/* 텍스트 열림 버튼 이미지 */
p.card_name::after{
    display: block;
    content: "";
    clear: both;
    float: right;
    width: 2rem;
    height: 2rem;
    margin-top: 0.4rem;
    background: url(../img/img_btn_dropdown.png) no-repeat 0 0;
    background-size: contain;
    text-indent: -9999px;
    overflow: hidden;
    transition: all 0.2s linear 0s;
}

li.on>div>p.card_name::after{
    transform: rotate(180deg);
}

/* 카드 설명 */
p.explain{
    display: none;
    height: 100%;
    margin-top: 2rem;
    padding-bottom: 2rem;
    border-bottom: 0.1rem solid rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
}

li.on>div>p.explain{
    display: block;
}

/* 카드 이미지 및 링크 버튼 */
a.card_link{
    display: block;
    width: 33.5rem;
    height: 18rem;
    margin-top: 2rem;
    background: url(../img/img_payment_05.png) no-repeat 0 0;
    background-size: contain;
}

li.list2>div>a.card_link{
    background: url(../img/img_payment_04.png) no-repeat 0 0;
    background-size: contain;
}

a.card_link>span{
    display: inline-block;
    width: 100%;
    height: 4rem;
    margin-top: 14rem;
    padding: 0.8rem 2rem 0;
    color: #fff;
    font-family: NotoSansKR-Bold;
    font-size: 1.4rem;
    background: #df3333;
    border: 0.2rem solid #000;
    box-sizing: border-box;
}

li.list2>div>a.card_link>span{
    background: #004888;
}

a.card_link:hover>span, a.card_link:focus>span{
    background: #9B2323;
}

li.list2>div>a.card_link:hover>span, li.list2>div>a.card_link:focus>span{
    background: #013461;
}

a.card_link>span::after{
    display: block;
    content: "";
    clear: both;
    float: right;
    width: 2rem;
    height: 2rem;
    background: url(../img/img_icn_next.png) no-repeat 0 0;
    background-size: contain;
}

a.btn_again{
    margin: 0 auto;
    display: block;
    width: 33.5rem;
    height: 8rem;
    background: #df3333;
    border: 0.2rem solid #000;
    box-sizing: border-box;
    text-indent: -9999px;
    overflow: hidden;
}

a.btn_again:hover, a.btn_again:focus{
    background: #9B2323;
}

a.btn_again>span{
    display: block;
    width: 33.5rem;
    height: 8rem;
    background: url(../img/img_btn_again.png) no-repeat 0 0;
    background-size: cover;
}

/* sns 섹션 */
section.sns_area{
    margin: 4rem 0;
    text-indent: -9999px;
    overflow: hidden;
}

.sns_area>p{
    width: 37.5rem;
    height: 6rem;
    background: url(../img/img_txt_share.png) no-repeat 0 0;
    background-size: contain;
}

.sns_area>ul{
    margin-top: 2rem;
    padding-left: 6.8rem;
    box-sizing: border-box;
}

.sns_area>ul>li{
    float: left;
    margin-right: 3rem;
}

.sns_area>ul>li:last-of-type{
    margin-right: 0;
}

.sns_area>ul>li>a{
    display: block;
    width: 6rem;
    height: 6rem;
    background: url(../img/img_icn_link.png) no-repeat 0 0;
    background-size: contain;
}

.sns_area>ul>li:nth-of-type(2)>a{
    background: url(../img/img_icn_kakao.png) no-repeat 0 0;
    background-size: contain;
}

.sns_area>ul>li:last-of-type>a{
    background: url(../img/img_icn_facebook.png) no-repeat 0 0;
    background-size: contain;
}

p.logo_under{
    width: 37.5rem;
    height: 16rem;
    margin-bottom: 7rem;
    background: url(../img/img_under_logo.png) no-repeat 0 0;
    background-size: contain;
    text-indent: -9999px;
    overflow: hidden;
}

a.btn_card{
    /* z-index: -1; */
    display: block;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 8.5rem;
    text-indent: -9999px;
    background: #004888;
    border: 2px solid #000;
    box-sizing: border-box;
}

a.btn_card::after{
    z-index: 1;
    display: block;
    content: "";
    clear: both;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    width: 37.5rem;
    height: 8.5rem;
    background: url(../img/img_btn_card.png) no-repeat 0 0;
    background-size: contain;
    max-width: 520px;
}

a.btn_card:hover, a.btn_card:hover:focus{
    background: #013461;
}
}


/* 데스크탑 */
@media screen and (min-width: 521px){

html{
    font-size: 0.521vw; /* 데스크탑(1920) 10px 기준 */
}

/* layout */
div#wrap{
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

main{
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
}

/* main */
h1{
    display: none;
}

div.result1{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    width: 100%;
    height: 100%;
    max-width: 375px;
    overflow: scroll;
}

/* 스크롤 모양 */
div.result1::-webkit-scrollbar{
    width: 3px;
}

div.result1::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.1);
    height: 5%;
}

/* 결과 이미지 */
p.user_type{
    margin: 60px 0 10px;
    font-family: NotoSansKR-Medium;
    font-size: 16px;
    text-align: center;
}

.result1>p:nth-of-type(2){
    width: 100%;
    height: 578px;
    background: url(../img/img_result_04.png) no-repeat 0 0;
    background-size: contain;
    text-indent: -9999px;
    overflow: hidden;
}

/* 서비스 추천 섹션 */
section.card_area{
    margin-top: 60px;
}

.card_area>p:first-of-type{
    width: 100%;
    height: 60px;
    margin-bottom: 20px;
    background: url(../img/img_txt_service_04.png) no-repeat 0 0;
    background-size: contain;
    text-indent: -9999px;
    overflow: hidden;
}

.card_area>ul{
    padding: 0 20px;
    box-sizing: border-box;
}

.card_area>ul>li:last-of-type{
    margin: 40px 0 60px;
}

/* 카드 이름 */
p.card_name{
    padding-bottom: 20px;
    font-family: NotoSansKR-Bold;
    font-size: 20px;
    border-bottom: 1px solid #000;
    box-sizing: border-box;
    cursor: pointer;
}

/* 텍스트 열림 버튼 이미지 */
p.card_name::after{
    display: block;
    content: "";
    clear: both;
    float: right;
    width: 20px;
    height: 20px;
    margin-top: 4px;
    background: url(../img/img_btn_dropdown.png) no-repeat 0 0;
    background-size: contain;
    text-indent: -9999px;
    overflow: hidden;
    transition: all 0.2s linear 0s;
}

li.on>div>p.card_name::after{
    transform: rotate(180deg);
}

/* 카드 설명 */
p.explain{
    display: none;
    height: 100%;
    margin-top: 20px;
    padding-bottom: 20px;
    font-size: 14px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
}

li.on>div>p.explain{
    display: block;
}

/* 카드 이미지 및 링크 버튼 */
a.card_link{
    display: block;
    width: 335px;
    height: 180px;
    margin-top: 20px;
    background: url(../img/img_payment_05.png) no-repeat 0 0;
    background-size: contain;
}

li.list2>div>a.card_link{
    background: url(../img/img_payment_04.png) no-repeat 0 0;
    background-size: contain;
}

a.card_link>span{
    display: inline-block;
    width: 100%;
    height: 40px;
    margin-top: 140px;
    padding: 8px 20px 0;
    color: #fff;
    font-family: NotoSansKR-Bold;
    font-size: 14px;
    background: #df3333;
    border: 2px solid #000;
    box-sizing: border-box;
}

li.list2>div>a.card_link>span{
    background: #004888;
}

a.card_link:hover>span, a.card_link:focus>span{
    background: #9B2323;
}

li.list2>div>a.card_link:hover>span, li.list2>div>a.card_link:focus>span{
    background: #013461;
}

a.card_link>span::after{
    display: block;
    content: "";
    clear: both;
    float: right;
    width: 20px;
    height: 20px;
    background: url(../img/img_icn_next.png) no-repeat 0 0;
    background-size: contain;
}

a.btn_again{
    margin: 0 auto;
    display: block;
    width: 335px;
    height: 80px;
    background: #df3333;
    border: 2px solid #000;
    box-sizing: border-box;
    text-indent: -9999px;
    overflow: hidden;
}

a.btn_again:hover, a.btn_again:focus{
    background: #9B2323;
}

a.btn_again>span{
    display: block;
    width: 335px;
    height: 80px;
    background: url(../img/img_btn_again.png) no-repeat 0 0;
    background-size: cover;
}

/* sns 섹션 */
section.sns_area{
    margin: 40px 0;
    text-indent: -9999px;
    overflow: hidden;
}

.sns_area>p{
    width: 375px;
    height: 60px;
    background: url(../img/img_txt_share.png) no-repeat 0 0;
    background-size: contain;
}

.sns_area>ul{
    margin-top: 20px;
    padding-left: 68px;
    box-sizing: border-box;
}

.sns_area>ul>li{
    float: left;
    margin-right: 30px;
}

.sns_area>ul>li:last-of-type{
    margin-right: 0;
}

.sns_area>ul>li>a{
    display: block;
    width: 60px;
    height: 60px;
    background: url(../img/img_icn_link.png) no-repeat 0 0;
    background-size: contain;
}

.sns_area>ul>li:nth-of-type(2)>a{
    background: url(../img/img_icn_kakao.png) no-repeat 0 0;
    background-size: contain;
}

.sns_area>ul>li:last-of-type>a{
    background: url(../img/img_icn_facebook.png) no-repeat 0 0;
    background-size: contain;
}

p.logo_under{
    width: 375px;
    height: 160px;
    margin-bottom: 70px;
    background: url(../img/img_under_logo.png) no-repeat 0 0;
    background-size: contain;
    text-indent: -9999px;
    overflow: hidden;
}

a.btn_card{
    /* z-index: -1; */
    display: block;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 85px;
    text-indent: -9999px;
    background: #004888;
    border: 2px solid #000;
    box-sizing: border-box;
}

a.btn_card::after{
    z-index: 1;
    display: block;
    content: "";
    clear: both;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    width: 375px;
    height: 85px;
    background: url(../img/img_btn_card.png) no-repeat 0 0;
    background-size: contain;
}

a.btn_card:hover, a.btn_card:hover:focus{
    background: #013461;
}
}