input:focus, select:focus {
	outline: none;
}
.main {
	width: 100%;
	height: 100%;
	background-color: #f2f2f2;
	/* background-color: red; */
	position: relative;
	overflow: auto;
}
.main .main_box {
	position: relative;
	width: 1920px;
	margin: 0 auto;
}
.main .title_box{
	/* float: left; */
	width: auto;
	height: auto;
	margin: 20px 0 0 20px;
	/* padding: 0 20px; */
	position: absolute;
}
.title_box .box1 {
	width: auto;
	height: 20px;
}
.title_box .box2 {
	width: auto;
	height: 28px;
}
.title_box .title_text {
	float: left;
	width: auto;
	height: 20px;
	margin: 0;
	font-family: NotoSansCJKKR;
	font-size: 16px;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	line-height: 1;
	letter-spacing: normal;
	/* text-align: center; */
	color: #222;
	/* position: absolute; */
  
}
.title_box .event_title {
	float: left;
	width: auto;
	height: 28px;
	font-family: NotoSansCJKKR;
	font-size: 24px;
	font-weight: bold;
	font-stretch: normal;
	font-style: normal;
	line-height: 1;
	letter-spacing: normal;
	color: #222;
}
.main .introduce_box {
	/* float: left; */
	width: auto;
	height: auto;
	margin: 110px  0 0 20px;
	position: absolute;
}
.introduce_box .hello_box {
	width: auto;
	height: 30px;
}
.hello_box .hello {
	float: left;
	width: auto;
	height: 30px;
	font-family: NotoSansCJKKR;
	font-size: 25px;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	line-height: 1;
	letter-spacing: normal;
	color: #222;
}
.introduce_box .introduce_box1 {
	width: auto;
	height: 30px;
}
.introduce_box1 .introduce_text {
	float: left;
	width: auto;
	height: 30px;
	font-family: NotoSansCJKKR;
	font-size: 25px;
	font-weight: bold;
	font-stretch: normal;
	font-style: normal;
	line-height: 1;
	letter-spacing: normal;
	color: #222;
}
.introduce_box1 .introduce_text1 {
	float: left;
	width: auto;
	height: 30px;
	font-family: NotoSansCJKKR;
	font-size: 25px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: 1;
	letter-spacing: normal;
	color: #222;
	margin: 0 0 0 10px;
}
.coupon_box {
	float: right;
	width: 454px;
	height: 350px;
	margin: 20px 20px 0 0;
}
.coupon_box .logout {
	float: right;
	cursor: pointer;
}
.coupon_box .total_box {
	float: right;
	width: 400px;
	height: 40px;
	margin: 10px 0 0 0;
}
.coupon_box .total_text {
	float: left;
	width: 92px;
	height: 20px;
	font-family: NotoSansCJKKR;
	font-size: 16px;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	line-height: 1;
	letter-spacing: normal;
	text-align: right;
	color: #222;
	margin: 10px 0 0 0;
}
.coupon_box .text {
	float: left;
	width: 284px;
	height: 30px;
	border: solid 1px #000;
	background-color: #595959;
	margin: 0 0 0 15px;
	text-align: right;
	color: #fff;
	padding: 3px 7px 0 0;
}
.coupon_table_box {
	float: right;
	margin: 10px 0;
}
.coupon_table1 {
	float: left;
	width: 150px;
	height: 38px;
	border: 1px solid #969696;
	border-right: none;
}
.coupon_table1 .coupon1 {
	float: left;
	width: 110px;
	height: 22px;
	margin: 8px 20px;
	font-family: NotoSansKR;
	font-size: 14px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	letter-spacing: normal;
	text-align: center;
	color: #000;
}
.coupon_table2 {
	float: left;
	width: 150px;
	height: 38px;
	border: 1px solid #969696;
	border-right: none;
	border-top: none;
}
.coupon_table2 .coupon1 {
	float: left;
	width: 110px;
	height: 22px;
	margin: 8px 20px;
	font-family: NotoSansKR;
	font-size: 14px;
	font-weight: 600;
	font-stretch: normal;
	font-style: normal;
	letter-spacing: normal;
	text-align: center;
	color: #000;
}
.coupon_box .code_dox {
	float: left;
	width: 193px;
	height: 33px;
	margin: 0 0 0 15px;
	padding: 0 0 0 7px;
	border: solid 1px #000;;
	background-color:#fff; 
}
.code_dox .code_text {
	display: inline-block;
	padding-top: 6px;
}
.code_dox .code_input {
	width: 139px;
    border: none;
    height: 25px;
    font-size: 16px;
    padding-top: 6px;
    margin-top: -7px;
}
.coupon_box .total_but {
	float: left;
	width: 84px;
	height: 35px;
	margin: 0 0 0 5px;
}
.conpon_select {
	float: right;
	width: 98%;
	height: 35px;
	margin: 20px 20px 20px;
	text-align: right;
}
.conpon_select .use_coupons {
	width: 150px;
	height: 35px;
	font-weight: bold;
	background-color: #f2f2f2;
	border: none;
	border-bottom: solid 1px #000;
	margin: 0 10px 0 0;
}
.conpon_select .use_coupons1 {
	width: 150px;
	height: 35px;
	font-weight: bold;
	background-color: #f2f2f2;
	border: none;
	border-bottom: solid 1px #000;
}
.table_box {
	/* clear: both; */
	/* float: right; */
	width: 98%;
	height: auto;
	max-height: 430px;
	/* margin: 30px 20px 0; */
	/* border-bottom: 1px solid; */
	margin: 450px 20px 0;
	position: absolute;
}
.table_box .num_box {
	float: left;
	width: 152px;
	height: 38px;
	border: 1px solid #000;
	border-right: none;
	background-color: #d9d9d9;
}
.table_box .only_num_box {
	float: left;
	width: 673px;
	height: 38px;
	border: 1px solid #000;
	border-right: none;
	background-color: #d9d9d9;
}
.table_box .published_date_box {
	float: left;
	width: 350px;
	height: 38px;
	border: 1px solid #000;
	border-right: none;
	background-color: #d9d9d9;
}
.table_box .record_box {
	float: left;
	width: 350px;
	height: 38px;
	border: 1px solid #000;
	border-right: none;
	background-color: #d9d9d9;
}
.table_box .enrollment_box {
	float: left;
	width: 350px;
	height: 38px;
	border: 1px solid #000;
	background-color: #d9d9d9;
}
.num_box .num_text {
	float: left;
	width: 113px;
	height: 22px;
	margin: 8px 20px;
	font-family: NotoSansKR;
	font-size: 14px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	letter-spacing: normal;
	text-align: center;
	color: #000;
}
.only_num_box .only_num {
	float: left;
	width: 633px;
	height: 22px;
	margin: 8px 20px;
	font-family: NotoSansKR;
	font-size: 14px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	letter-spacing: normal;
	text-align: center;
	color: #000;
}
.published_date_box .published_date {
	float: left;
	width: 311px;
	height: 22px;
	margin: 8px 20px;
	font-family: NotoSansKR;
	font-size: 14px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	letter-spacing: normal;
	text-align: center;
	color: #000;
}
.record_box .record {
	float: left;
	width: 311px;
	height: 22px;
	margin: 8px 20px;
	font-family: NotoSansKR;
	font-size: 14px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	letter-spacing: normal;
	text-align: center;
	color: #000;
}
.enrollment_box .enrollment {
	float: left;
	width: 311px;
	height: 22px;
	margin: 8px 20px;
	font-family: NotoSansKR;
	font-size: 14px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	letter-spacing: normal;
	text-align: center;
	color: #000;
}
.user_coupon {
	width: auto;
	height: auto;
	float: left;
}
.user_coupon .user_no {
	float: left;
	width: 152px;
	height: 38px;
	border: 1px solid #000;
	border-right: none;
	border-top: none;
}
.user_coupon .user_code {
	float: left;
	width: 673px;
	height: 38px;
	border: 1px solid #000;
	border-right: none;
	border-top: none;
}
.user_coupon .user_date {
	float: left;
	width: 350px;
	height: 38px;
	border: 1px solid #000;
	border-right: none;
	border-top: none;
}
.user_coupon .user_use {
	float: left;
	width: 350px;
	height: 38px;
	border: 1px solid #000;
	border-right: none;
	border-top: none;
}
.user_coupon .user_history {
	float: left;
	width: 350px;
	height: 38px;
	border: 1px solid #000;
	border-top: none;
}
.user_no .user_noText {
	float: left;
	width: 113px;
	height: 22px;
	margin: 8px 20px;
	font-family: NotoSansKR;
	font-size: 14px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	letter-spacing: normal;
	text-align: center;
	color: #000;
}
.user_code .user_codeText {
	float: left;
	width: 633px;
	height: 22px;
	margin: 8px 20px;
	font-family: NotoSansKR;
	font-size: 14px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	letter-spacing: normal;
	text-align: center;
	color: #000;
}
.user_date .user_dateText {
	float: left;
	width: 311px;
	height: 22px;
	margin: 8px 20px;
	font-family: NotoSansKR;
	font-size: 14px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	letter-spacing: normal;
	text-align: center;
	color: #000;
}
.user_use .user_useText {
	float: left;
	width: 311px;
	height: 22px;
	margin: 8px 20px;
	font-family: NotoSansKR;
	font-size: 14px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	letter-spacing: normal;
	text-align: center;
	color: #000;
}
.user_history .user_historyText {
	float: left;
	width: 311px;
	height: 22px;
	margin: 8px 20px;
	font-family: NotoSansKR;
	font-size: 14px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	letter-spacing: normal;
	text-align: center;
	color: #000;
}
.main_box .page_box {
	position: absolute;
	width: 98%;
	height: auto;
	text-align: center;
	margin: 900px 20px 0;
	padding: 0 0 48px;
}
body {
	-webkit-tap-highlight-color:transparent;
}
.back , .next{
	padding-right: 5px;
}
a {
	text-decoration: none;
	color:#000;
}
.i {
	color: red;
	margin: 0 5px;
}